<div class="about-us-section">
    <div class="about-image-container">
        <img src="assets/images/aboutUs.jpg" alt="About Us" class="about-image">
        <div class="overlay">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="about-description">
        <h2>Welcome to Our Website!</h2>
        <p>
            We are dedicated to providing the best experience for travelers exploring new destinations. Our platform helps you discover, plan, and enjoy your next adventure with ease. From cultural heritage sites to breathtaking nature spots, we've got it all covered for you.
        </p>
    </div>
</div>

<!-- Footer Section -->
<footer class="footer">
    <p>&copy; 2024 Travller. All Rights Reserved.</p>
    <p>Contact us: Traveller.com</p>
    <div class="icons-container">
        <a class="share-icon" href="#"><img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png"></a>
        <a class="share-icon" href="#"><img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png"></a>
        <a class="share-icon" href="#"><img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png"></a>
        <a class="share-icon" href="#"><img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png"></a>
      </div>
</footer>