/* General Styles */
html, body {
  height: 100%; /* Ensure the body and html take full height */
  margin: 0;
  padding: 0;
}

body {
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Stack children vertically */
}

.about-us-section {
  text-align: center;
  flex: 1; /* Allow this section to grow and fill available space */
}

.about-image-container {
  position: relative;
}

.about-image {
  width: 100%; /* Full width of the parent container */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Set a maximum height to keep it short */
  object-fit: cover; /* Ensure the image covers the area without stretching */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about-description {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; /* Center the description */
}

.footer {
  background-color: #f1f1f1; /* Change as needed */
  text-align: center;
  padding: 15px;
  /* Ensure footer stays at the bottom */
  flex-shrink: 0; /* Prevent the footer from shrinking */
}

.footer p {
  margin: 5px 0;
}

.icons-container {
  display:block;
  justify-content:space-between;
}
