.main-background {
  background-color: #ffffffeb; /* Black background color */
  padding: 20px;
}

/* Booking container styling */
.booking-container {
  max-width: 900px;
  margin: 20px auto;
  background-color: #fff; /* White background for the box */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.616);
  border-radius: 10px;
  overflow: hidden;
}

/* Image container for the city image and overlay */
.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; /* White text */
  font-size: 5rem; /* Large text for city name */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Subtle shadow for text */
}

/* Styling for the details section */
.details-section {
  background-color: #d6eefb; /* White background */
  padding: 20px;
  border-radius: 0 0 10px 10px; /* Rounded corners for bottom */
}

/* Styling for the reviews section */
.reviews-section {
  background-color: #93d5fe; /* Light blue background */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
}

/* Styling for the rating stars */
.rating-stars {
  display: flex;
  align-items: center; /* Centers items vertically */
  gap: 10px; /* Space between stars and text */
  flex-wrap: nowrap; /* Prevents wrapping */
}

.rating-stars app-travel-rating {
  display: inline-flex; /* Aligns the custom rating component inline */
}

